
<h1>Recent Recipes</h1>
<ul class="list-group list-group-flush">
  <% @recipes.each do |recipe| %>
      <li class="list-group-item <%=cycle "list-group-item", "list-group-item-secondary" %>">
        <div class="container-fluid home-page-recipes">
          <div class="row">
            <div class="col-md-9 align-self-center">
              <h3><%= link_to recipe.name, user_recipe_path(user_id: recipe.user.id, id: recipe.id) %></h3>
            </div>
            <div class="col-md-3 align-self-center">
              Added by: <%= link_to recipe.user.profile.username, root_path %>
            </div>
          </div>
        </div>
      </li>
  <% end %>
</ul>