
<h1>Recent Recipes</h1>
<ul class="list-group list-group-flush">
  <% @recipes.each do |recipe| %>
    <li class="list-group-item">
      <h3><%= link_to recipe.name, user_recipe_path(user_id: recipe.user.id, id: recipe.id) %></h3>
      Added by: <%= recipe.user.profile.username %>
    </li>
  <% end %>
</ul>