<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <div class="card card-body bg-light">
        <h1>New Recipe</h1>

        <%= render 'form', recipe: @recipe %>
        <div class="field mb-3">
          <%= link_to 'Back', user_path(id: params[:user_id]), class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>