<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 side-profile">
        <%= render "users/sidebar" %>
    </div>
    <div class="col-md-8 offset-md-2">
      <h1>Your Recipes</h1>
      <ul class="list-group">
        <% @user.recipes.each do |recipe| %>
          <li class="list-group-item list-group-item-secondary">
            <h2>
              <%= link_to recipe.name, user_recipe_path(user_id: @user.id, id: recipe.id), class: "recipe-title" %>
            </h2>
            <p class="list-p">
              <%= link_to "Edit", edit_user_recipe_path(user_id: @user.id, id: recipe.id), class: "btn btn-success" %>
              <%= link_to "Delete", user_recipe_path(user_id: @user.id, id: recipe.id), method: :delete, class: "btn btn-danger" %>
            </p>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-md-2">
      <h1>Upcoming Recipes</h1>
    </div>

  </div>
</div>
   