<div class="container-fluid">
  <div class="row">
    <% if user_signed_in? %>
      <div class="col-md-2 side-profile">
        <%= render "users/sidebar" %>
      </div>
      <div class="col-md-10 offset-md-2">
        <h1>Welcome to the Home Page</h1>
        <%= render "recipes/index"%>
      </div>
      
    <% else %>
      <h1>Welcome to the Home Page</h1>
    <% end %>
  </div>
</div>