<div class="container-fluid">
  <div class="row">
    <% if user_signed_in? %>
      <div class="col-md-2 side-profile">
        <%= render "users/sidebar" %>
      </div>
      <% end %>
      <div class="col-md-8 offset-md-2">
        <h1>Welcome to the Home Page</h1>
        <h1>Recent Recipes</h1>
        <%= render "recipes/index"%>
        <%= link_to "View all recipes", recipes_path %>
      </div>
  </div>
</div>