<div class="container-fluid">
  <div class="row">
    <% if user_signed_in? %>
      <%= render "users/sidebar" %>
      <div class="col-md-10 offset-md-2">
        <h1>Welcome to the Home Page</h1>
      </div>
    <% else %>
      <h1>Welcome to the Home Page</h1>
    <% end %>
  </div>
</div>