/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 */
@import "bootstrap";
@import "font-awesome";
@import "/\*";

h1, h2, h3 {
   font-family: 'Arimo', sans-serif;
 }

 // Navbar styles
 .navbar-dark .navbar-nav .nav-link {
   color: white;
 }

.navbar {
  margin-bottom: 15px;
}

// Use custom nav-bar toggle icon to match font color.
.custom-toggler.navbar-toggler {
  border-color: white;
}
.custom-toggler .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.flash-message {
  position: absolute;
}

.home-page-recipes {
  padding-left: 0;
}

.home-page-username {
  padding-top: .75rem;
}

.home-page-recipe {
  padding-top: 1rem;
}

.tags-background {
  background-color: #513779;
}
// Color theme
// /* Color Theme Swatches in Hex */
// .Royal-Blurple-1-hex { color: #220B5E; }
// .Royal-Blurple-2-hex { color: #7654B4; }
// .Royal-Blurple-3-hex { color: #3B1D98; }
// .Royal-Blurple-4-hex { color: #967ECB; }
// .Royal-Blurple-5-hex { color: #513779; }

// /* Color Theme Swatches in RGBA */
// .Royal-Blurple-1-rgba { color: rgba(33, 11, 93, 1); }
// .Royal-Blurple-2-rgba { color: rgba(117, 84, 179, 1); }
// .Royal-Blurple-3-rgba { color: rgba(59, 28, 151, 1); }
// .Royal-Blurple-4-rgba { color: rgba(149, 126, 202, 1); }
// .Royal-Blurple-5-rgba { color: rgba(80, 54, 121, 1); }

// /* Color Theme Swatches in HSLA */
// .Royal-Blurple-1-hsla { color: hsla(256, 79, 20, 1); }
// .Royal-Blurple-2-hsla { color: hsla(261, 39, 51, 1); }
// .Royal-Blurple-3-hsla { color: hsla(254, 67, 35, 1); }
// .Royal-Blurple-4-hsla { color: hsla(258, 42, 64, 1); }
// .Royal-Blurple-5-hsla { color: hsla(263, 37, 34, 1); }
