
.side-profile {
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: #967ECB;
  margin-top: -15px;
  padding-top: 20px;
}

.profile-picture {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: auto;
  padding-bottom: 15px;
  display: block;
}

.content {
  position: relative;
}

.list-p {
  margin-bottom: .5rem;
}

.recipe-title {
  color: #030BA6;
  text-decoration: none;
}

.list-group-item-secondary {
  background-color: #e2e3e536;
}