
.side-profile {
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: #967ECB;
  margin-top: -15px;
  padding-top: 20px;
}

.profile-picture {
  height: 256px;
  width: 256px;
  margin: auto;
  padding-bottom: 15px;
  display: block;
}