// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recipe-picture {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: auto;
  display: block;
}

.ingredients-instructions-list {
  list-style-type: none;
}